<?xml version="1.0"?>

<launch>
  <arg name="frame" default="vicon/Ghanei_ErleCopter/Ghanei_ErleCopter"/>
  <!-- <arg name="frame" default="erlecopter/ground_truth/erlecopter/ground_truth/odometry_sensorgt_link"/> -->
  <arg name="worldFrame" default="world"/>

  <node name="controller_node" pkg="erle_controller" type="erle_controller_node" output="screen">
    <param name="frequency" value="50.0" type="double" />
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <rosparam command="load" file="$(find erle_controller)/config/config.yaml" />
  </node>
</launch>
